<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.WebDriver" version="4.4.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="105.0.5195.5200" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.31.0.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="4.3.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="104.0.1293.70" targetFramework="net461" />
</packages>